<style>
.calendar {
    width: 70%;
    
    margin: auto;
    font-size: 13px;
    
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
    box-shadow: 1px 2px;
  }
  
  .calendar th {
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }
  
  .calendar td {
    width: 100px;
    height: 70px;
    padding: 20px 0px 0px 5px;
    font-size: 20px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
    
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .clearfix {
    margin: 15px;
  }
</style>